      <%= ApplicationHelper.menubar("machine","list") %>
     
      <div id="content-main">
      <!-- FIXME -->
      </div>

      <div class="content-right">
      <div class="callout-1">
      This page lists machines that can run appliances.
      </div>
      </div> 
