      <% @page_title = @operation.capitalize() + " A Task" %>
      <%= ApplicationHelper.menubar("task","edit") %>

      I'm afraid you can't do that, Dave.

      <% @callout_1 = @operation + " a task" %>

