      <% @page_title = "View Task Queue" %>
      <%= ApplicationHelper.menubar("task","list") %>
     
      I'm afraid you can't do that, Dave.

      <% @callout_1 = "This is a list of background tasks." %>
