      <%= ApplicationHelper.menubar("image","list") %>
     
      <div id="content-main">
      <TABLE CLASS="listing">
         <TD>
            <% @items.each do |item | %>
            
             <% end %>
         </TD>
      </TABLE>
      </div>

      <div class="content-right">
      <div class="callout-1">
      This page lists images that can be deployed.
      </div>
      </div> 
