      <div id="content-main">
      <form name="form" action="submit">
      <TABLE BORDER=0>
         <TR>
            <TD>Username</TD>
            <TD><%= text_field("form", "username") %></TD>
         </TR>
         <TR> 
            <TD>Password</TD>
            <TD><%= text_field("form", "password") %></TD>            
         </TR>
         <TR>
            <TD COLSPAN="2"><input type="submit" value="Log In"></TD>
         </TR>
      </TABLE>
      </form>
      </div>

