<html>
  <head>
     <title>ShadowManager :: Login</title>
  </head>
  <body>
      Developers!  make your own ID, it's wide open: :3000/user

      <form name="form" action="submit">
      <%= text_field("form", "username") %>   
      <%= text_field("form", "password") %>             
      <input type="submit" value="go">
      </form>
  </body>
</html>
