      <% @page_title = "Deployments" %>
      <%= ApplicationHelper.menubar("deployment","list") %>
     
      <div id="content-main">
      <!-- FIXME -->
      </div>

      <% @callout_1 = "This page lists deployed appliances." %>
