      <%= ApplicationHelper.menubar("demo","list") %>
     
      <div id="content-main">
      <% @items.each do |item| %>
         <%= link_to item, :controller=>"#{item}", :action=>"list" %>
         </br>
      <% end %>
      </div>

      <div class="content-right">
      <div class="callout-1">
      Most of these pages are just database scaffolding.  This will grow
      more later.
      </div>
      </div> 
