<html xmlns="http://ww.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
  <head>
     <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
     <title>ShadowManager: <%= @page_title %></title>
     <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
      <div id="topbar">
      <div id="page-title">
      <h1 id="product-name">ShadowManager: <%= @page_title %>
      </h1>
      </div>
 
      <div class="topbar-line">
      </div>

      <%= yield %>
      <div class="content-right">
      <div class="callout-1">
         <%= @callout_1 %>
      </div>
      <% if @flash[:notice] %>
      <div class = "callout-2">
         <%= @flash[:notice] %>
      </div>
      <% end %>
      </div> 
      <% if @flash[:errmsg] %>
      <div class = "errmsg">
	<pre>
         <%= @flash[:errmsg] %>
	</pre>
      </div>
      <% end %>

  </body>
</html>
