<html xmlns="http://ww.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
  <head>
     <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
     <title>ShadowManager</title>
     <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
      <div id="topbar">
      <div id="page-title">
      <h1 id="product-name">ShadowManager
      </h1>
      </div>
 
      <div class="topbar-line">
      </div>

      <%= ApplicationHelper.menubar("user","list") %>
     
      <div id="content-main">
      <TABLE class='listing'>
         <TR>
            <TD>Login</TD>
            <TD>First</TD>
            <TD>Middle</TD>
            <TD>Last</TD>
            <TD>Description</TD>
            <TD>Email</TD>
            <TD>Delete?</TD>
         </TR>
      <%# FIXME: this may be a result of what objects are being sent over from Python. %>
      <%# FIXME: web svc should return a hash not a list %>
      <% @items.map{|x| x["baseObj"]}.each do |item| %>
         <TR>
             
             <TD> <%= item[1] %> </TD>
             <TD> <%= item[3] %> </TD>
             <TD> <%= item[4] %> </TD>
             <TD> <%= item[5] %> </TD>
             <TD> <%= item[6] %> </TD>
             <TD> <%= item[7] %> </TD>
             <%# fixme: make this use link_to :controller=>user :action=>delete on the userid %>
             <TD> <%= link_to "X", :controller => "user", :action=> "delete", :id=> item[0] %></TD>
         </TR>
      <% end %>
      </TABLE>
      </div>

      <div class="content-right">
      <div class="callout-1">
      This is the user list.
      </div>
      <% if @flash[:notice] %>
      <div class = "callout-2">
         <%= @flash[:notice] %>
      </div>
      <% end %>
      </div> 


  </body>
</html>
