<html xmlns="http://ww.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
  <head>
     <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
     <title>ShadowManager</title>
     <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
      <div id="topbar">
      <div id="page-title">
      <h1 id="product-name">ShadowManager
      </h1>
      </div>
 
      <div class="topbar-line">
      </div>

      <%= ApplicationHelper.menubar("user","list") %>
     
      <div id="content-main">
      <!-- FIXME -->
      </div>

      <div class="content-right">
      <div class="callout-1">
      This is the user administration page.
      </div>
      </div> 


  </body>
</html>
